.board {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  width: 1584px;
  height: 1584px;
  /*background-image: url('../src/images/table.jpg')*/
  background: #584A3F;
}

.cell {
  width: 88px;
  height: 88px;
}

.legal {
  background: blue;
}