@import 'bourbon';

.board {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  width: 1584px;
  height: 1584px;
  /*background-image: url('../src/images/table.jpg')*/
  background: #584A3F;
}

.cell {
  width: 88px;
  height: 88px;
}

.legal {
  -moz-box-shadow:    inset 0 0 30px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.58);
  box-shadow:         inset 0 0 30px rgba(0, 0, 0, 0.58);
  animation:appearLegal .15s forwards;
}

@keyframes appearLegal {
  0%{
    transform:scale(.2);
  }
  100%{
    transform:scale(1);
  }
}

