.controls {
  position: fixed;
  top: 0px;
  left: 0px;
  background: #A4AAAB;
}

.deck {
  display: inline-block;
}

.place-piece {
  position: relative;
  display: inline-block;
  width: 88px;
  height: 88px;
  background: url("../src/images/meeple.png");
  background-size: 70%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
