.hand {
  display: inline-block;
  margin: 10px;
}

.player-name-wrapper {
  padding: 3px;
}

.pieces-wrapper {
  padding: 3px;
}

.tiles-wrapper {
  padding: 3px;

    .tile {
      margin: 3px;
    }
}