.player {
  display: inline-block;
}

.player-name {
  padding: 3px;
}

.player-name.current-player {
  color: red;
}

.pieces-wrapper {
  padding: 3px;
}

.tiles-wrapper {
  padding: 3px;

    .tile {
      margin: 3px;
    }
}